.main {
  height: 100%;
}

.main::-webkit-scrollbar {
  display: none;
}

.mainCreateMode {
  cursor: pointer;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cardsWrapper {
  width: 0;
  height: 0;
}

.button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: fit-content;
  padding: 15px;
  background-color: blanchedalmond;
  border-radius: 4px;
  font-size: 16px;
  z-index: 1;
}
